.keen-slider{
    padding-top: 30px;
}
[class^="number-slide"],
        [class*=" number-slide"] {
          background: grey;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 50px;
          color: #fff;
          font-weight: 500;
          height: 400px;
          max-height: 100vh;
        }
        
        .keen-slider__slide {
          .content { 
              max-width: 450px;
              padding-right: 50%;
              height: 250px;
              font-size: 28px;
              color: #333;
              font-family: 'Lato', sans-serif;

              h1 {
                padding-bottom: 20px;
              }

              a {
                text-decoration: none;
                background-color: #333;
                color: white;
                font-weight: 600;
                font-size: 18px;
                text-transform: uppercase;
                padding: 7px 13px;
              }
          }

        }
        
        .number-slide1 {
          background: url(https://www.clarin.com/img/2021/09/22/fifa-22-el-juego-mas___1yp23AdTs_1200x630__1.jpg)
          
        }

        .number-slide2 {
          .content {
            text-align: center;
            max-width: 50%;
            padding-right: 20%;
            margin: 0 auto;
            height: auto;
          }

          h1 {
            color: white;
          }
          background-position: 100px;
          background: url(https://cdn.shopify.com/s/files/1/0112/1743/6730/articles/Bestmart_Chile_-Ranking_de_las_mejores_apps_de_streaming_que_puedes_encontrar_1024x1024.png?v=1629727574);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
        
        }

        .number-slide3 {
          background: rgb(182, 255, 64);
          background: linear-gradient(
            128deg,
            rgba(182, 255, 64, 1) 0%,
            rgba(63, 255, 71, 1) 100%
          );
          background: linear-gradient(
            128deg,
            rgba(189, 255, 83, 1) 0%,
            rgba(43, 250, 82, 1) 100%
          );
        }
        
        .number-slide4 {
          background: rgb(64, 255, 242);
          background: linear-gradient(
            128deg,
            rgba(64, 255, 242, 1) 0%,
            rgba(63, 188, 255, 1) 100%
          );
        }
        
        .number-slide5 {
          background: rgb(255, 64, 156);
          background: linear-gradient(
            128deg,
            rgba(255, 64, 156, 1) 0%,
            rgba(255, 63, 63, 1) 100%
          );
        }
        .number-slide6 {
          background: rgb(64, 76, 255);
          background: linear-gradient(
            128deg,
            rgba(64, 76, 255, 1) 0%,
            rgba(174, 63, 255, 1) 100%
          );
        }
        
        .navigation-wrapper {
          position: relative;
        }
        
        .dots {
          display: flex;
          padding: 10px 0;
          justify-content: center;
        }
        
        .dot {
          border: none;
          width: 10px;
          height: 10px;
          background: #c5c5c5;
          border-radius: 50%;
          margin: 0 5px;
          padding: 5px;
          cursor: pointer;
        }
        
        .dot:focus {
          outline: none;
        }
        
        .dot--active {
          background: #000;
        }
        
        .arrow {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          fill: #fff;
          cursor: pointer;
        }
        
        .arrow--left {
          left: 5px;
          fill: white;
          background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
        }
        
        .arrow--right {
          left: auto;
          right: 5px;
          fill: white;
          background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
        }
        
        .arrow--disabled.arrow--left {
          background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
        }
        
        .arrow--disabled.arrow--right {
          background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
        }